/* You can add global styles to this file, and also import other style files */
.skts-postfix-kr:after {
    width: 1.8em;
}

.heading,
.final-result {
    font-size: 24px;
    font-weight: bold;
}

.final-result {
    margin-top: 20px;
    margin-bottom: 18px;
    border-bottom: double 4px black;
}

.temp-result {
    font-size: 20px;
    margin-bottom: 12px;
}

.final-result > div {
    padding-bottom: 0;
}

.add-row {
    border-bottom: solid 1px black;
    margin-bottom: 8px;
}
